#rsvp .title {
  text-align: center;
  letter-spacing: 15px;
}

#rsvp h1, #rsvp label, #rsvp p, #rsvp .title, .checkbox {
  color: $gold;
}

#rsvp form {
  padding: 1em;
}

#rsvp label.radio {
  font-size: 1.25em;
  vertical-align: sub;
}

.radio+.radio {
  @include desktop {
    margin-left: 10.5em;
  }
}

#rsvp form>div.field:not(:last-child),
#guestForm>div.field:not(:last-child) {
  margin-bottom: 1.75rem;
}

#rsvp textarea {
  border-radius: 25px;
}

.checkbox.control {
  padding-top: 0.75em;
}