@charset "utf-8";

// Colors
$blue: #192A53;
$dark-blue: #20233D;
$pink: #F64C72;
$burgundy: #4d182e;
$gold: #EEE8AA;

// Bulma Variable Overrides
$family-primary: "lora";
$family-sans-serif: "lora";
$primary: $burgundy;
$link: $blue;
$navbar-background-color: $burgundy;
$navbar-item-color: $gold;
$navbar-item-hover-background-color: $burgundy;
$footer-background-color: $burgundy;
$footer-color: $gold;
$footer-padding: 2rem 0 0.5rem;
$section-padding: 2rem 0.5rem;

@import "bulma/bulma.sass";
@import "layout.scss";
@import "home.scss";
@import "rsvp.scss";

/* General */
a {
  color: $pink;
}

a:hover {
  color: gold !important;
  text-decoration: underline;
}

/* Fonts */
.lora {
  font-family: 'Lora', serif;
}

.greatVibes {
  font-family: 'Great Vibes', cursive;
}
