{{ define "notification" }}
From: {{ .From }}
To: {{ .To }}
Subject: New RSVP
Content-type: text/html

<html lang="en">
    <body>
        <h1>We've Received a New RSVP!</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Attending</th>
                <th>Dinner Choice</th>
                <th>Partner Name</th>
                <th>Partner Attending</th>
                <th>Partner Dinner Choice</th>
                <th>Requested Accommodation</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ .RSVP.Name }}</td>
                <td>{{ .RSVP.Email}}</td>
                <td>{{ .RSVP.IsAttending }}</td>
                <td>{{ .RSVP.DinnerChoice }}</td>
                {{- range .RSVP.Guests }}
                    <td>{{ .Name }}</td>
                    <td>{{ .IsAttending }}</td>
                    <td>{{ .DinnerChoice }}</td>
                {{- else -}}
                    <td></td>
                    <td></td>
                    <td></td>
                {{- end }}
                <td>{{ .RSVP.WantsAccomm }}</td>
                <td>{{ .RSVP.Comments }}</td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
{{ end }}